@{
    ViewData["Title"] = "Home Page";
}

<br /> 
<img src="~/img/university.jpg" width="100%" height="100%" alt="picture of a university" />

<div class="jumbotron">
    <h1>Contoso University</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your Application</h2>
      <p>Start the application Process Today!</p>
    </div>
    
    <div class="col-md-4">
        <h2>Student Life</h2>
        <p>You can build the life you want, with our vibrant student activities.</p>
    </div>
    <div class="col-md-4">
        <h2>Invest In Your Life</h2>
        <p>We're invested in your future. Make a payment today!</p>
        
</div>
<br /><br /><br /><br />